nav {
    background-color: #3F729B;
}

.spaced {
    max-width: 350px;
}

.telszam {
    float: right;
}

#arlista-table {
    min-width: 300px;
    max-width: 800px;
    margin: auto;
}

#footer-logo {
    width: 40%;
    max-width: 300px;
}

@media (min-width: 576px) 
{
}