<%- include('partials/header'); -%>

<%- include('partials/navbar'); -%>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-2">Lautner Cukrászat</h1>
          <h3>Házias sütemények, 80 évnyi tradíció</h3>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container mt-5">

    <div class="row">
      <div class="col-md-8 mb-5">
        <h2>Esküvők, rendezvények</h2>
        <hr>
        <p>Legyen szó akár kis létszámú, akár 200 fős esküvőről vagy céges rendezvényről, biztosítjuk a szükséges édesség-kínálatot.  A különleges menyasszonyi tortáktól az aprósüteményeken át a cég logóját ábrázoló tortákig a legtöbb elképzelést meg tudjuk valósítani. Termékeinket megegyezés szerint hűtőautónkkal a rendezvény helyszínére szállítjuk.</p>
        <p>Rendezvényekre az igények felmérése után egyedi, az általános árlistánknál kedvezőbb árajánlatot adunk. A megrendeléseket kapacitásaink erejéig tudjuk elvállalni, ami nagyobb létszám esetén hetente egy rendezvényt jelent, ezért javasoljuk, hogy minél előbb vegyék fel Lautner Marikával a kapcsolatot.</p>
        <!--<a class="btn btn-primary btn-lg" href="/kapcsolat">Kérjen árajánlatot &raquo;</a>-->
      </div>
      <div class="col-md-4 mb-5">
        <h2>Kapcsolat</h2>
        <hr>
        <address>
          <strong>Lautner Cukrászat</strong>
          <br />Lautner Marika
          <br />9200 Mosonmagyaróvár
          <br />Szent István király út 68.
          <br />
        </address>
        <address>
          <abbr title="Telefon">T:</abbr>
          (30) 993-6157
          <br>
          <abbr title="Email">E:</abbr>
          <a href="mailto:marika@lautnerbt.info">marika@lautnerbt.info</a>
        </address>
      </div>
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="img/vintage-menyasszonyi.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Menyasszonyi torták</h4>
            <p class="card-text">A hagyományos technikáktól a modern stílusig a legtöbb elképzelést meg tudjuk valósítani.</p>
          </div>
          <!--<div class="card-footer">-->
          <!--  <a href="#" class="btn btn-primary">Find Out More!</a>-->
          <!--</div>-->
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="img/torta-card.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Torták</h4>
            <p class="card-text">Klasszikus és modern ízek széles kínálatával, szinte bármilyen egyedi dekorációval kínáljuk tortáinkat.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="img/apro-talca.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Sütemények</h4>
            <p class="card-text">Édes és sós aprósütemény-kínálatunkkal biztosítjuk, hogy mindig legyen édesség az asztalokon.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
  
<%- include('partials/footer'); -%>