<%- include('partials/header'); -%>
<%- include('partials/navbar'); -%>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Árlista</h1>
      <p class="lead">Húsvéti ajánlatunk</p>
    </div>
  </div>
  <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Termékek
            </button>
          </h2>
        </div>
    
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
              <table class="table table-sm table-striped table-bordered" id="arlista-table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Termékek</th>
                      <th scope="col">Kiszerelés</th>
                      <th scope="col">Ár</th>
                    </tr>
                  </thead>
                  <tbody class="text-wrap">
                    <tr class="thead-light">
                      <th scope="row" colspan="3">Sütemények</th>
                    </tr>  
                    <tr>
                      <td>Vegyes aprósütemény</td>
                      <td>kg</td>
                      <td>3000 Ft/kg</td>
                    </tr>
                    <tr>
                      <td>Vegyes teasütemény</td>
                      <td>kg</td>
                      <td>3000 Ft/kg</td>
                    </tr>
                    <tr>
                      <td>Vegyes krémes aprósütemény</td>
                      <td>kg</td>
                      <td>3000 Ft/kg</td>
                    </tr>
                    <tr>
                      <td>Sajtos rudacska</td>
                      <td>kg</td>
                      <td>3000 Ft/kg</td>
                    </tr>
                    <tr>
                      <td>Mini sajtos roló</td>
                      <td>kg</td>
                      <td>3000 Ft/kg</td>
                    </tr>
                    <tr>
                      <td>Cukormentes mini isler</td>
                      <td>kg</td>
                      <td>3000 Ft/kg</td>
                    </tr>
                    <tr>
                      <td>Diós vagy mákos kalács</td>
                      <td>90-100 dkg/rúd</td>
                      <td>2700 Ft</td>
                    </tr>
                    <tr>
                      <td>Méteres kalács</td>
                      <td>30 cm/rúd</td>
                      <td>3000 Ft</td>
                    </tr>
                    <tr>
                      <td>Keksz tekercs</td>
                      <td>25 cm/rúd</td>
                      <td>2000 Ft</td>
                    </tr>
                    <tr class="spacer-row">
                      <td  colspan="3">&nbsp;</td>
                    </tr>
                    <tr class="thead-light">
                      <th scope="row" colspan="3">Egész torta</th>
                    </tr>
                    <tr>
                      <td>Különböző ízekben</td>
                      <td>23 cm átmérő</td>
                      <td>6000 - 8000 Ft</td>
                    </tr>
                    <tr class="spacer-row">
                      <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr class="thead-light">
                      <th scope="row" colspan="3">Fagylalt (5 gombóc, 25 dkg/doboz)</th>
                    </tr>
                    <tr>
                      <td>Vanília</td>
                      <td>doboz</td>
                      <td>1500 Ft</td>
                    </tr>
                    <tr>
                      <td>Csoki</td>
                      <td>doboz</td>
                      <td>1500 Ft</td>
                    </tr>
                    <tr>
                      <td>Puncs</td>
                      <td>doboz</td>
                      <td>1500 Ft</td>
                    </tr>
                    <tr>
                      <td>Karamell</td>
                      <td>doboz</td>
                      <td>1500 Ft</td>
                    </tr>
                    <tr>
                      <td>Eper</td>
                      <td>doboz</td>
                      <td>1500 Ft</td>
                    </tr>
                    <tr>
                      <td>Citrom</td>
                      <td>doboz</td>
                      <td>1500 Ft</td>
                    </tr>
                    <tr>
                      <td>Joghurtos meggy</td>
                      <td>doboz</td>
                      <td>1500 Ft</td>
                    </tr>
                    <tr>
                      <td>Cukormentes málna</td>
                      <td>doboz</td>
                      <td>1500 Ft</td>
                    </tr>
                  </tbody>
              </table>
              <blockquote class="blockquote text-center">
                <p>A fenti árak az ÁFA-t tartalmazzák.</p>
              </blockquote>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Szállítási információ
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
              <p>A rendelés április 11-én (ha akkor még lehetséges) személyesen átvehető a cukrászdában 14:30-ig, 
                      házhoz szállítás 15 óra után. A körülmények függvényében ez még változhat.</p>
              <p><strong>A húsvéti rendeléseket ingyenesen házhoz szállítjuk!</strong></p>
              </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Kapcsolat
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
              <ul class="list-unstyled">
                  <li>Rendelés telefonon:
                      <ul>
                          <li class="spaced">9-13 óráig Bálint Csabánál <span class="telszam">30/742-2186</span></li>
                          <li class="spaced">9-15 óráig a Cukrászdában <span class="telszam">30/742-2175</span></li>
                          <li class="spaced">9-17 óráig Lautner Marikánál <span class="telszam">30/993-6157</span></li>
                      </ul>
                  </li>

              </ul>
          </div>
        </div>
      </div>
    </div>
  
<%- include('partials/footer'); -%>