<%- include('partials/header'); -%>

<%- include('partials/navbar'); -%>


  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-2">Lautner Cukrászat</h1>
          <h3>Házias sütemények, 80 évnyi tradíció</h3>
        </div>
      </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-book-open m-auto text-primary"></i>
            </div>
            <h3>Hagyományos receptek</h3>
            <p class="lead mb-0">Régi receptjeink évtizedek óta változatlanok.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-home m-auto text-primary"></i>
            </div>
            <h3>Házias jelleg</h3>
            <p class="lead mb-0">Süteményeink olyanok, mintha <br /> otthon sütötték volna.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-truck m-auto text-primary"></i>
            </div>
            <h3>Házhozszállítással is</h3>
            <p class="lead mb-0">Rendeléseiket igény szerint akár házhoz is visszük.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img-fit" style="background-image: url('img/apro-talca.jpg');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Sütemények</h2>
          <p class="lead mb-0">A hagyományos sütemények mellett kaphatóak újabb, gyakran saját fejlesztésű recept alapján készülő édességek is.
          </p>
          <a class="btn btn-lg btn-primary mt-3" href="/kinalat#sutemenyek">Sütemény kínálatunk</a>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img-fit" style="background-image: url('img/torta.png');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Torták, dísztorták</h2>
          <p class="lead mb-0">A hagyományos torták mellett vállaljuk különleges formájú, ízű, burkolatú torták elkészítését, akár a legújabb technikákkal is. Ha megtetszett egy torta az interneten, megoldjuk!</p>
          <a class="btn btn-lg btn-primary mt-3" href="/kinalat#tortak">Torta kínálatunk</a>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img-fit" style="background-image: url('img/eskuvoi.png');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Esküvők, rendezvények</h2>
          <p class="lead mb-0">Vállaljuk akár nagyobb létszámú esküvők, rendezvények süteményekkel, tortákkal es dísztortákkal való kiszolgálását. Szeretjük a különleges menyasszonyi torták kihívásait!</p>
          <a class="btn btn-lg btn-primary mt-3" href="/rendezveny">További információ rendezvényekről</a>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/cafe.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Viszonteladóknak</h2>
          <p class="lead mb-0">Akár nagyobb mennyiségben is ki tudjuk szolgálni viszonteladóink igényeit, kedvező feltételek mellett.</p>
          <a class="btn btn-lg btn-primary mt-3" href="/viszontelado">Legyen Ön is hivatalos viszonteladó!</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">Hivatalos viszonteladónk</h2>
      <div class="row">
        <div class="card mb-3 ml-auto mr-auto" style="max-width: 800px;">
          <div class="row no-gutters">
            <div class="col-md-4">
               <img src="img/nosztalgia-logo.jpg" class="card-img" alt="Nosztalgia cukraszda"> 
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Nosztalgia Cukrászda</h5>
                <p class="card-text">Korábbi cukrászdánk, a Mini Presszó helyén működő cukrászda</p>
                <p class="card-text">Mosonmagyaróvár, Magyar utca 15.</p>
                <p class="card-text">
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-3">
                      <a href="https://www.facebook.com/Nosztalgia-Cukr%C3%A1szda-104345354983076/" target="_blank">
                        <i class="fab fa-facebook fa-fw"></i>
                      </a>
                    </li>
                    <li class="list-inline-item mr-3">
                      <a href="#">
                        <i class="fas fa-external-link-square-alt fa-fw"></i>
                      </a>
                    </li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center" id="contact">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Rendelni szeretne? Keressen minket!</h2>
          <a href="/kapcsolat" class="btn btn-lg btn-primary">Elérhetőségeink</a>
        </div>
      </div>
    </div>
  </section>

<%- include('partials/footer'); -%>