<%- include('partials/header'); -%>

<%- include('partials/navbar'); -%>


  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-2">Lautner Cukrászat</h1>
          <h3>Házias sütemények, 80 évnyi tradíció</h3>
        </div>
      </div>
    </div>
  </header>

  <!-- Kínálat content -->
  <section class="features-icons bg-light text-center" id="sutemenyek">
    <div class="container">
      <h1>Sütemény kínálatunk</h1>
      <div class="row">
        <div class="col">
          <p class=""><strong>Jelen árlistánk kizárólag közvetlenül a Lautner Cukrászat cukrászüzeméből rendelt, Mosonban átvett rendelésekre érvényes!</strong>
          <br />Viszonteladóink árazására nincs befolyásunk.</p>
          <p class="">Mosoni cukrászatunkban <strong>kizárólag rendelésre</strong> tudunk süteményt és tortát kiszolgálni. 
          <br />Minimálisan rendelhető mennyiség: <strong>10 db vagy 1 kg</strong>
          <br />Kérjük, hogy a rendeléseiket legkésőbb előző munkanap délelőtt adják le!
          <br />Rendelés nélkül Magyar utcai viszonteladónknál tudnak termékeinkből vásárolni.</p>
          
          <p class="lead"><strong>"MENTES" sütemény kínálat</strong></p>
          <p class="">A kínálat folyamatosan bővül.</p>
          <!-- Mentes kínálat táblázat -->
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Megnevezés</th>
                  <th>Ár</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Glutén, laktóz és cukormentes linzer csillag</td>
                  <td>4900 Ft/kg</td>
                </tr>
                <tr>
                  <td>Glutén és laktózmentes linzerkarika</td>
                  <td>4900 Ft/kg</td>
                </tr>
                <tr>
                  <td>Glutén és laktózmentes diós zserbó</td>
                  <td>4900 Ft/kg</td>
                </tr>
                <tr>
                  <td>Cukormentes kis isler</td>
                  <td>3900 Ft/kg</td>
                </tr>
                <tr>
                  <td>Glutén és laktózmentes orosz kocka</td>
                  <td>500 Ft/db</td>
                </tr>
                <tr>
                  <td>Cukormentes pudingos szelet</td>
                  <td>400 Ft/db</td>
                </tr>
              </tbody>
            </table>      
          
          <p class="lead mt-5"><strong>Állandó kínálat</strong></p>
          <!-- Állandó kínálat táblázat -->
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Megnevezés</th>
                  <th>Ár</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Vegyes aprósütemény</td>
                  <td>3250 Ft/kg</td>
                </tr>
                <tr>
                  <td>Vegyes krémes aprósütemény</td>
                  <td>3250 Ft/kg</td>
                </tr>
                <tr>
                  <td>Vegyes teasütemény</td>
                  <td>3250 Ft/kg</td>
                </tr>
                <tr>
                  <td>Sós aprósütemény</td>
                  <td>3250 Ft/kg</td>
                </tr>
                <tr>
                  <td>Mini sajtos roló</td>
                  <td>3500 Ft/kg</td>
                </tr>
                <tr>
                  <td>Dió habos</td>
                  <td>3500 Ft/kg</td>
                </tr>
                <tr>
                  <td>Diós zserbó</td>
                  <td>3500 Ft/kg</td>
                </tr>
                <tr>
                  <td>Attila kedvence kocka</td>
                  <td>500 Ft/db</td>
                </tr>
                <tr>
                  <td>Citrom-párizsi szelet</td>
                  <td>400 Ft/db</td>
                </tr>
                <tr>
                  <td>Csoki csúcs</td>
                  <td>300 Ft/db</td>
                </tr>
                <tr>
                  <td>Dobos szelet</td>
                  <td>400 Ft/db</td>
                </tr>
                <tr>
                  <td>Hólabda</td>
                  <td>300 Ft/db</td>
                </tr>
                <tr>
                  <td>Isler lekváros</td>
                  <td>300 Ft/db</td>
                </tr>
                <tr>
                  <td>Isler vajkrémes</td>
                  <td>300 Ft/db</td>
                </tr>
                <tr>
                  <td>Kardinális</td>
                  <td>400 Ft/db</td>
                </tr>
                <tr>
                  <td>Keksz tekercs</td>
                  <td>300 Ft/db</td>
                </tr>
                <tr>
                  <td>Malomkerék</td>
                  <td>500 Ft/db</td>
                </tr>
                <tr>
                  <td>Mehádia tortaszelet</td>
                  <td>450 Ft/db</td>
                </tr>
                <tr>
                  <td>Mignon</td>
                  <td>300 Ft/db</td>
                </tr>
                <tr>
                  <td>Ördögpirula</td>
                  <td>300 Ft/db</td>
                </tr>
                <tr>
                  <td>Párizsi rúd</td>
                  <td>400 Ft/db</td>
                </tr>
                <tr>
                  <td>Piskóta rolád</td>
                  <td>300 Ft/db</td>
                </tr>
                <tr>
                  <td>Rákóczi túrós</td>
                  <td>500 Ft/db</td>
                </tr>
                <tr>
                  <td>Mézike</td>
                  <td>200 Ft/db</td>
                </tr>
              </tbody>
            </table>      
          <p class="lead"><strong>Változó kínálat</strong></p>
          <p class=""><strong>Jelen árlistánk kizárólag közvetlenül a Lautner Cukrászat cukrászüzeméből rendelt, Mosonban átvett rendelésekre érvényes!</strong>
          <br />Viszonteladóink árazására nincs befolyásunk.</p>
          <p class="">Hetente változó ajánlatunk. 10 darabos rendeléstől bármikor elkészítjük.
          <br />Az aktuális kínálatról érdeklődjön elérhetőségeinken!</p>
          <!-- Változó kínálat táblázat -->
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Megnevezés</th>
                  <th>Ár</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Alpesi karamell kocka</td>
                  <td>500 Ft/db</td>
                </tr>
                <tr>
                  <td>Bagdadi szelet</td>
                  <td>350 Ft/db</td>
                </tr>
                <tr>
                  <td>Cappuccino kocka</td>
                  <td>500 Ft/db</td>
                </tr>
                <tr>
                  <td>Eszterházi szelet</td>
                  <td>400 Ft/db</td>
                </tr>
                <tr>
                  <td>Fehércsokis-málnás szelet</td>
                  <td>400 Ft/db</td>
                </tr>
                <tr>
                  <td>Feketeerdő kocka</td>
                  <td>500 Ft/db</td>
                </tr>
                <tr>
                  <td>Habroló</td>
                  <td>350 Ft/db</td>
                </tr>
                <tr>
                  <td>Hat/négylapos</td>
                  <td>300 Ft/db</td>
                </tr>
                <tr>
                  <td>Joghurtos kocka</td>
                  <td>500 Ft/db</td>
                </tr>
                <tr>
                  <td>Mézes zserbó</td>
                  <td>300 Ft/db</td>
                </tr>
                <tr>
                  <td>Nonparlé</td>
                  <td>300 Ft/db</td>
                </tr>
                <tr>
                  <td>Oreo szelet</td>
                  <td>400 Ft/db</td>
                </tr>
                <tr>
                  <td>Orosz kocka</td>
                  <td>500 Ft/db</td>
                </tr>
                <tr>
                  <td>Puding szelet</td>
                  <td>300 Ft/db</td>
                </tr>
                <tr>
                  <td>Rolád (szelet)</td>
                  <td>350 Ft/db</td>
                </tr>
                <tr>
                  <td>Sacher szelet</td>
                  <td>400 Ft/db</td>
                </tr>
                <tr>
                  <td>Sajttorta szelet</td>
                  <td>500 Ft/db</td>
                </tr>
                <tr>
                  <td>Sült túrós szelet</td>
                  <td>500 Ft/db</td>
                </tr>
              </tbody>
            </table>      
          <p class="lead"><strong>Szezonális kínálat</strong></p>
          <!-- Szezonális kínálat táblázat -->
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Megnevezés</th>
                  <th>Ár</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Gesztenye csúcs</td>
                  <td>300 Ft/db</td>
                </tr>
                <tr>
                  <td>Gesztenye szelet</td>
                  <td>400 Ft/db</td>
                </tr>
                <tr>
                  <td>Gesztenye szív</td>
                  <td>350 Ft/db</td>
                </tr>
                <tr>
                  <td>Krémes francia</td>
                  <td>400 Ft/db</td>
                </tr>
                <tr>
                  <td>Krémes sima (házi)</td>
                  <td>300 Ft/db</td>
                </tr>
                <tr>
                  <td>Méteres kalács</td>
                  <td>4000 Ft/rúd</td>
                </tr>
                <tr>
                  <td>Kalács (diós/mákos)</td>
                  <td>3500 Ft/rúd</td>
                </tr>
                <tr>
                  <td>Bejgli (diós/mákos) nagy</td>
                  <td>3500 Ft/rúd</td>
                </tr>
                <tr>
                  <td>Bejgli (diós/mákos) kicsi</td>
                  <td>1800 Ft/rúd</td>
                </tr>
              </tbody>
            </table>      
          </div>
    </div>
  </section>
  
  <section class="features-icons bg-light text-center" id="tortak">
    <div class="container">
      <h1>Torta kínálatunk</h1>
      <p class=""><strong>Jelen árlistánk kizárólag közvetlenül a Lautner Cukrászat cukrászüzeméből rendelt, Mosonban átvett rendelésekre érvényes!</strong>
          <br />Viszonteladóink árazására nincs befolyásunk.</p>
      <div class="row">
        <div class="col">
          <p class="lead">Az árlistából összeállított tortákat 2 munkanapos, egyedi tortákat 5 munkanapos határidővel vállalunk.</p>
          <p class="">Egyedi dísztortáink árait a táblázat nem tartalmazza, ezekre egyedi árajánlatot adunk <a href="/kapcsolat">elérhetőségeinken</a>.
          <br />A táblázatban nem szereplő ízeket egyedi megbeszélés szerint tudjuk elkészíteni.
          <br />A táblázatban 16 szeletes (kb. 23 cm átmérő) torták árai szerepelnek. 
          <br />Kisebb illetve nagyobb méretben is készítünk tortákat, ezek árai a szeletek számával arányosak.</p>
          <p class="lead mt-5">Alap torták (16 szelet, kb 23 cm átmérő)</p>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Megnevezés</th>
                <th>Ár</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Sacher, puncs, vajkrémes torták</td>
                <td>7 200 Ft</td>
              </tr>
              <tr>
                <td>Dobos torta</td>
                <td>8 500 Ft</td>
              </tr>
              <tr>
                <td>Pudingos és/vagy tejszínes torták<br /><small>Például: felemás, tejsz.gesztenye, orosz, gyümölcsös, csoki</small></td>
                <td class="align-middle">9 000 Ft</td>
              </tr>
              <tr>
                <td>Joghurtos gyümölcsös torták<br /><small>Például: sárgabarack, áfonya, eper, málna</small></td>
                <td class="align-middle">9 000 Ft</td>
              </tr>
              <tr>
                <td><small>Friss gyümölcsök joghurtos torta tetejére</small></td>
                <td>+ 1 500 Ft</td>
              </tr>
              <tr>
                <td>Túró torta, eszterházi torta</td>
                <td>9 500 Ft</td>
              </tr>
              <tr>
                <td>Prémium torták<br /><small>Például: feketeerdő, fehér csoki málnával, alpesi karamell, <br />oreo, trüffel, mozart, csokis-narancsos, csokis-banános</small></td>
                <td class="align-middle">10 000 Ft</td>
              </tr>
              <tr>
                <td>Zila torta (12 szeletes)</td>
                <td>12 000 Ft</td>
              </tr>
            </tbody>
          </table>
          <p class="lead mt-5">Torta dekoráció (16 szeletes tortára)</p>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Megnevezés</th>
                <th>Ár</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Csoki csurgatás, csoki vagy gyümölcs dísszel</td>
                <td>1 500 Ft</td>
              </tr>
              <tr>
                <td>Tükörglazúros burkolás</td>
                <td>1 500 Ft</td>
              </tr>
              <tr>
                <td>Alapburkolás Fondant tortaburkolóval,  szegéllyel</td>
                <td class="align-middle">3 000 Ft</td>
              </tr>
              <tr>
                <td>Szálgyertya</td>
                <td>100 Ft/db</td>
              </tr>
              <tr>
                <td>Számgyertya</td>
                <td>200 Ft/db</td>
              </tr>
              <tr>
                <td>Tűzijáték</td>
                <td>600 Ft/db</td>
              </tr>
              <tr>
                <td>Tábla (pl. Boldog Születésnapot)</td>
                <td>300 Ft/db</td>
              </tr>
              <tr>
                <td>Marcipán figura</td>
                <td>750 Ft/db-tól</td>
              </tr>
              <tr>
                <td>Egyéb virágok, speciális díszek</td>
                <td>Egyedi ár</td>
              </tr>
              <tr>
                <td>Ostya A/4 nyomtatott képpel</td>
                <td>2 000 Ft/db</td>
              </tr>
              <tr>
                <td>Ostya A/5 nyomtatott képpel</td>
                <td>1 000 Ft/db</td>
              </tr>
            </tbody>
          </table>      
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center" id="contact">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Rendelni szeretne? Keressen minket!</h2>
          <a href="/kapcsolat" class="btn btn-lg btn-primary">Elérhetőségeink</a>
        </div>
      </div>
    </div>
  </section>

<%- include('partials/footer'); -%>