<%- include('partials/header'); -%>
<%- include('partials/navbar'); -%>

<form action='/hazhoz' method='POST'>
    <input type='text' name='nev' placeholder='nev'>
    <input type='text' placeholder='kategoria'>
    <input type='text' placeholder='kiszereles'>
    <input type='text' placeholder='ar'>
    <button>Submit</button>
</form>

<%- include('partials/footer'); -%>