<%- include('partials/header'); -%>

<%- include('partials/navbar'); -%>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-2">Lautner Cukrászat</h1>
          <h3>Házias sütemények, 80 évnyi tradíció</h3>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container mt-5">

    <div class="row">
      <div class="col-md-8 mb-5">
        <h2>Ajánlat viszonteladóknak</h2>
        <hr>
        <p>Mosonmagyaróvár-szerte ismert, kiváló minőségű termékeinket Ön is értékesítheti vendégeinek! Legyen szó akár süteményekről, akár tortákról vagy különleges dísztortákról, nálunk kedvező viszonteladói áron vásárolhatja meg.</p>
        <p>Frissen készült süteményeinket átveheti a Szent István király úti üzemünkben, illetve igény szerint a városon belül hűtőautóval naponta (hétfő-szombat) kiszállítjuk. A feltételekről és viszonteladói árainkról kérjük, érdeklődjön a cukrászat vezetőjénél, Lautner Marikánál.</p>
        <!--<a class="btn btn-primary btn-lg" href="/kapcsolat">Kérje viszonteladói ajánlatunkat &raquo;</a>-->
      </div>
      <div class="col-md-4 mb-5">
        <h2>Kapcsolat</h2>
        <hr>
        <address>
          <strong>Lautner Cukrászat</strong>
          <br />Lautner Marika
          <br />9200 Mosonmagyaróvár
          <br />Szent István király út 68.
          <br />
        </address>
        <address>
          <abbr title="Telefon">T:</abbr>
          (30) 993-6157
          <br>
          <abbr title="Email">E:</abbr>
          <a href="mailto:marika@lautnerbt.info">marika@lautnerbt.info</a>
        </address>
      </div>
    </div>
    <!-- /.row -->
    
    <div class="row d-flex justify-content-center">
      <div class="container-fluid mb-5">
        <img src="img/cafe.jpg" class="img-fluid" alt="Fotó egy kávézóról">
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
  
<%- include('partials/footer'); -%>