<%- include('partials/header'); -%>

<%- include('partials/navbar'); -%>


  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-2">Lautner Cukrászat</h1>
          <h3>Házias sütemények, 80 évnyi tradíció</h3>
        </div>
      </div>
    </div>
  </header>

<!-- Icons Grid -->
  <section class="features-icons bg-light text-center pt-5">
    <div class="container">
      <h2>A Lautner Cukrászatról</h1>
      <div class="row">
        <div class="col">
          <p class="lead text-left">Nagyapám, Lautner Károly 1938-ban alapította vállalkozását Mosonmagyaróvár belvárosában. Kicsi cukrászműhelyében készítette süteményeit, főzte a fagylaltot, melyeket saját kis cukrászdájában árusított. Akkoriban még a sütik és a fagyi kizárólag természetes anyagokból készültek. Részben a klasszikusokat, részben saját recept szerint készített sütiket, fagyit kínált a városiaknak.</p>
          <p class="lead text-left">Jómagam 13 évesen álltam először a fagyipult mögé, azután minden nyári szünetben lelkesen mértem a fagyit, főztem, fagyasztottam és ellestem a műhelytitkok egy részét. Miután a vendéglátás a véremben volt, iskolám végeztével a győri vendélátásban dolgoztam, és szereztem vendéglátóipari végzettséget.</p>
          <p class="lead text-left">Nagypapám halála után nagymamám még jó pár évig vitte az üzletet özvegyi jogon, ám amikor Ő is visszavonult, átadta nekem a belvárosi cukrászdát. A felkérést örömmel elfogadtam.</p>
          <p class="lead text-left">1984 óta képviselem a családi vállalkozást.De nem a modern cukrászat felé fordultam. Elkötelezett vagyok a hagyományos cukrászat, a természetes alapanyagok, technológia iránt, amit választékunk is tükröz. Természetesen megjelenésben, átgondolva, de hagyományosan mi is követjük és teljesítjük a vendégek által diktált elvárásokat.</p>
          <p class="lead text-left">Gesztenyemasszát készítünk, melyet egyre nagyobb körben szeretnek vásárlóink, és kollégáink.</p>
          <p class="lead text-left">2021-ben magam is visszavonulót fújtam, de nem teljesen. A cukrászüzemet továbbra is üzemeltetem. A Magyar utcai cukrászda üzemeltetésének lehetőségét pedig átadtam egy évek óta velem és nálam dolgozó kolléganőnek, aki saját vállalkozásként, de elkötelezetten, hagyományainkat követve az általunk készített termékekkel várja a régi helyen a vásárlókat, vendégeket.</p>
          <p class="lead text-left">Mosoni cukrászüzemünkben én magam is várom Önöket rendeléseikkel. Szívesen készítjük el süteményeinket, tortáinkat családi eseményekre, egyéb rendezvényekre, vagy csak úgy kívánság szerint.</p>
          <p class="lead text-left">Kapacitásunk erejéig viszonteladókat is kiszolgálunk, és házhozszállítást is vállalunk.</p>
          <p class="lead text-right mt-5">Lautner Marika</p>
      </div>
    </div>
  </section>

<%- include('partials/footer'); -%>