nav {
    background-color: #3F729B;
}

.deco-none {
    color: inherit;
    text-decoration: none;
}

.spaced {
    max-width: 350px;
}

.telszam {
    float: right;
}

.editcell {
    width: 50px;
}

.spacer-row {
    background-color: #ffffff !important;
}

.arlista-width {
    min-width: 300px;
    max-width: 800px;
    margin: auto;
}

.editArlBtn {
    font-size: 1rem;
}

#editKatKat {
    width: 95%;
    height: 95%;
    margin: auto;
    padding-left: 0.5rem;
}

#footer-logo {
    width: 40%;
    max-width: 300px;
}

@media (min-width: 576px) 
{
}