<%- include('partials/header'); -%>

<%- include('partials/navbar'); -%>


<!-- Masthead -->
<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-2">Lautner Cukrászat</h1>
                <h3>Házias sütemények, 80 évnyi tradíció</h3>
            </div>
        </div>
    </div>
</header>

<!-- Icons Grid -->
<section class="features-icons bg-light text-center pt-5">
    <div class="container">
        <h2>Elérhetőségeink</h2>
        <div class="row">
            <div class="col-lg-6">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="fas fa-phone-square m-auto text-primary"></i>
                    </div>
                    <h3>Rendelés</h3>
                    <p class="lead mb-0">Telefon</p>
                    <p class="mb-0">8-13 óráig</p>
                    <p class="mb-2">Bálint Csaba 30/742-2186</p>
                    <p class="mb-0">8-17 óráig</p>
                    <p class="mb-2">Lautner Marika 30/993-6157</p>
                    <p class="lead mt-2 mb-0">Email</p>
                    <p><a href="mailto:marika@lautnerbt.info">marika@lautnerbt.info</a></p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="fas fa-birthday-cake m-auto text-primary"></i>
                    </div>
                    <h3>Rendelés átvétele</h3>
                    <p class="lead mb-0">9200 Mosonmagyaróvár <br/> Szent István király út 68</p>
                    <p class="mb-2">A kínai étterem melletti udvarban</p>
                    <p class="mb-0">Hétköznap 8-13 óráig,</p>
                    <p class="mb-2">Szombaton 10-12 óráig</p>
                    <p class="mb-0">Bankkártyát, SZÉP-kártyát elfogadunk!</p>
                    <p class="mb-2">OTP, K&amp;H es MKB vendéglátás zseb</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<section class="testimonials text-center bg-light">-->
<!--    <div class="container">-->
<!--        <h2 class="mb-5">Hivatalos viszonteladónk</h2>-->
<!--        <p class="">Viszonteladóink árazására (húsvéti és karácsonyi közös ajánlataink kivételével) nincs befolyásunk,-->
<!--            így az áraik eltérhetnek a kínálatunkban szereplő áraktól.</p>-->
<!--        <div class="row">-->
<!--            <div class="card mb-3 ml-auto mr-auto" style="max-width: 800px;">-->
<!--                <div class="row no-gutters">-->
<!--                    <div class="col-md-4">-->
<!--                        <img src="img/nosztalgia-logo.jpg" class="card-img" alt="Nosztalgia cukraszda">-->
<!--                    </div>-->
<!--                    <div class="col-md-8">-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Nosztalgia Cukrászda</h5>-->
<!--                            <p class="card-text">Korábbi cukrászdánk, a Mini Presszó helyén működő cukrászda</p>-->
<!--                            <p class="card-text">Mosonmagyaróvár, Magyar utca 15.</p>-->
<!--                            <ul class="list-inline mb-0">-->
<!--                                <li class="list-inline-item mr-3">-->
<!--                                    <a href="https://www.facebook.com/Nosztalgia-Cukr%C3%A1szda-104345354983076/"-->
<!--                                       target="_blank">-->
<!--                                        <i class="fab fa-facebook fa-fw"></i>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li class="list-inline-item mr-3">-->
<!--                                    <a href="#">-->
<!--                                        <i class="fas fa-external-link-square-alt fa-fw"></i>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<%- include('partials/footer'); -%>
