<%- include('partials/header'); -%>

<%- include('partials/navbar'); -%>


<!-- Masthead -->
<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-2">Lautner Cukrászat</h1>
                <h3>Házias sütemények, 80 évnyi tradíció</h3>
            </div>
        </div>
    </div>
</header>

<!-- Kínálat content -->
<section class="features-icons bg-light text-center" id="sutemenyek">
    <div class="container">
        <h1>Karácsonyi kínálatunk</h1>
        <div class="row">
            <div class="col">
                <p class=""><strong>Jelen árlistánk kizárólag közvetlenül a Lautner Cukrászat cukrászüzeméből rendelt,
                        Mosonban átvett rendelésekre érvényes!</strong>
                    <br/>Karácsonyra csak az alábbi árlistából veszünk fel rendeléseket a kapacitásunk erejéig.
                    <br/>Minimálisan rendelhető mennyiség 1 kg.
                </p>
                <h5>Átvehető december 23-án 10-13 óra között a mosoni cukrászüzemben.</h5>
                <h5>Bankkártyával, SZÉP-kártyával is fizethet!</h5>
                <p>Rendeléseiket leadhatják:
                    <br/>Hétköznap 8-13 óra között a cukrászüzem telefonszámán: 96/576-032 vagy 30/742-2186
                    <br/>Hétköznap 13-17 óra között Lautner Marikánál: 30/993-6157</p>

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Megnevezés</th>
                        <th>Ár</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Édes vegyes aprósütemény</td>
                        <td>3250 Ft/kg</td>
                    </tr>
                    <tr>
                        <td>Édes krémes aprósütemény</td>
                        <td>3250 Ft/kg</td>
                    </tr>
                    <tr>
                        <td>Édes száraz aprósütemény</td>
                        <td>3250 Ft/kg</td>
                    </tr>
                    <tr>
                        <td>Sós sajtos rudacska</td>
                        <td>3250 Ft/kg</td>
                    </tr>
                    <tr>
                        <td>Mini sajtos roló</td>
                        <td>3500 Ft/kg</td>
                    </tr>
                    <tr>
                        <td>Diós zserbó</td>
                        <td>3500 Ft/kg</td>
                    </tr>
                    <tr>
                        <td>Dióhabos</td>
                        <td>3500 Ft/kg</td>
                    </tr>
                    <tr>
                        <td>Méteres kalács (10 szeletes)</td>
                        <td>4000 Ft/rúd</td>
                    </tr>
                    <tr>
                        <td>Keksz rúd (10 szeletes)</td>
                        <td>3000 Ft/rúd</td>
                    </tr>
                    <tr>
                        <td>Diós/mákos kalács nagy (kb. 90 dkg)</td>
                        <td>3500 Ft/db</td>
                    </tr>
                    <tr>
                        <td>Diós/mákos beigli nagy (kb. 90 dkg)</td>
                        <td>3500 Ft/db</td>
                    </tr>
                    <tr>
                        <td>Diós/mákos beigli kicsi (kb. 45 dkg)</td>
                        <td>1800 Ft/db</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<!-- Call to Action -->
<section class="call-to-action text-white text-center" id="contact">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h2 class="mb-4">Rendelni szeretne? Keressen minket!</h2>
                <a href="/kapcsolat" class="btn btn-lg btn-primary">Elérhetőségeink</a>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer'); -%>
