<%- include('partials/header'); -%>

<%- include('partials/navbar'); -%>


<!-- Masthead -->
<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-2">Lautner Cukrászat</h1>
                <h3>Házias sütemények, 80 évnyi tradíció</h3>
            </div>
        </div>
    </div>
</header>

<!-- Kínálat content -->
<section class="features-icons bg-light text-center" id="sutemenyek">
    <div class="container">
        <h1>Húsvéti kínálatunk</h1>
        <div class="row">
            <div class="col">
                <p class="">Húsvéti rendeléseiket a kapacitásaink erejéig tudjuk felvenni. Kérjük, mielőbb rendeljék meg
                    süteményeiket!
                    <br/>
                    <br/>Húsvéti rendeléseiket <strong>április 3 szombaton</strong> vehetik át ott, ahol a rendelést
                    leadták:
                    <br/>a Lautner Cukrászat mosoni üzemében vagy a Nosztalgia cukrászdában a Magyar utcában.
                    <br/>
                    <br/>Igény esetén rendeléseiket házhoz is tudjuk szállítani a szokásos <a href="#"
                                                                                              data-toggle="modal"
                                                                                              data-target="#hazhozModal">feltételekkel</a>
                    <br/>Házhoz szállítás esetén kérjük, a cukrászatunkat keressék és igényüket rendeléskor jelezzék!
                    <br/>
                </p>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Lautner Cukrászat</h5>
                                <p>Mosonmagyaróvár, Szent István király út 68.</p>
                                <p>Fizetés átvételkor készpénzben vagy előre utalással
                                    <br/>Személyes átvétellel vagy igény esetén házhoz szállítással</p>
                                <p>Rendelés telefonon 9-13 óráig:
                                    <br>Lautner Marika: 06 30 993 6157
                                    <br>Bálint Csaba: 06 30 742 2186</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Nosztalgia Cukrászda</h5>
                                <p>Mosonmagyaróvár, Magyar utca 15.</p>
                                <p>Bankkártyás, SZÉP-kártyás fizetés is lehetséges!</p>
                                <p>Rendelés telefonon vagy személyesen nyitva tartási időben:
                                    <br/>Nosztalgia Cukrászda: 06 30 742 2175
                                    <br/>
                                    <br/><a href="https://www.facebook.com/Nosztalgia-Cukr%C3%A1szda-104345354983076/"
                                            target="_blank">Facebook</a></p>
                            </div>
                        </div>

                    </div>
                </div>
                <p class="lead mt-5"><strong>Húsvéti kínálatunk</strong></p>
                <!-- Állandó kínálat táblázat -->
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Megnevezés</th>
                        <th>Ár</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Vegyes krémes aprósütemény</td>
                        <td>3000 Ft/kg</td>
                    </tr>
                    <tr>
                        <td>Vegyes teasütemény</td>
                        <td>3000 Ft/kg</td>
                    </tr>
                    <tr>
                        <td>Vegyes aprósütemény (krémes és tea)</td>
                        <td>3000 Ft/kg</td>
                    </tr>
                    <tr>
                        <td>Sajtos rudacska</td>
                        <td>3000 Ft/kg</td>
                    </tr>
                    <tr>
                        <td>Mini sajtos roló</td>
                        <td>3500 Ft/kg</td>
                    </tr>
                    <tr>
                        <td>Diós aprósütemény</td>
                        <td>3500 Ft/kg</td>
                    </tr>
                    <tr>
                        <td>Keksz tekercs (kb 30 cm)</td>
                        <td>3000 Ft/rúd</td>
                    </tr>
                    <tr>
                        <td>Kalács (diós/mákos)</td>
                        <td>3200 Ft/rúd</td>
                    </tr>
                    <tr>
                        <td>Méteres kalács (kb 50 cm)</td>
                        <td>4000 Ft/rúd</td>
                    </tr>
                    </tbody>
                </table>
                <p>A fenti árlista kizárólag a húsvéti ajánlatra, a Lautner Cukrászatnál és a Nosztalgia Cukrászdában
                    érvényes.
                    <br/>Felhívjuk kedves vásárlóink figyelmét, hogy a húsvéti és karácsonyi ajánlaton kívül
                    viszonteladóink árazására nincs befolyásunk.
                    <br/>A Magyar utcai cukrászdát már nem mi üzemeltetjük, így az <a href="/kinalat">állandó
                        kínálat</a> árai ott eltérhetnek az általunk közzétett áraktól.</p>
            </div>
        </div>
    </div>
</section>

<!-- Call to Action -->
<section class="call-to-action text-white text-center" id="contact">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h2 class="mb-4">Rendelni szeretne? Keressen minket!</h2>
                <a href="/kapcsolat" class="btn btn-lg btn-primary">Elérhetőségeink</a>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer'); -%>
